name: CI-CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  prepare-environment:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup CMake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: latest

      - name: Check CMake version
        run: cmake --version

      - name: Setup MSVC toolchain
        uses: TheMrMilchmann/setup-msvc-dev@v3
        with:
          arch: x64

